name: Build and Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        
    - name: Setup Maven
      uses: actions/setup-maven@v4
      with:
        maven-version: '3.9.6'
        
    - name: Build with Maven
      run: ./mvnw clean package -Pproduction
      
    - name: Run Tests
      run: ./mvnw test
      
    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: sparkauto-app
        path: target/*.jar